
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.App{
display: flex;
flex-direction: column;
scroll-behavior: smooth;

}